---
import AnimateText from "../components/AnimateText.astro";
import HowTaiCanHelp from "../sections/HowTaiCanHelp.astro";
---

<section>
  <div class="bg-[#02B5D1] pb-40 text-white">
    <div class="flex h-svh flex-col items-center justify-center">
      <h2
        class="text-center text-[135px] font-bold leading-tight tracking-tighter"
      >
      <AnimateText textList={["Creating", "Sustainable", "Fiscal Space"]} />
      </h2>
      <p class="max-w-[16ch] text-center text-3xl">
        What We Know and What We Can Do
      </p>
    </div>
    <figure class="container mx-auto grid max-w-7xl gap-16">
      <div class="aspect-video max-h-[80vh] w-full rounded-3xl bg-white/60">
      </div>
      <figcaption class="max-w-[55ch] text-lg">
        A visual of the fiscal accountability ecosystem and need to support a
        range of actors
      </figcaption>
    </figure>
  </div>
  <div class="bg-[#02B5D1]">
    <HowTaiCanHelp />
    <div
      class="grid justify-center gap-24 bg-gradient-to-b from-[#02B5D1] to-white py-40 text-lg"
    >
      <section class="grid max-w-7xl grid-cols-2">
        <div class="min-h-[700px] rounded-3xl bg-[#CDF1F3]"></div>
        <div class="place-self-center pl-24">
          <h3 class="mb-12 text-[55px] font-bold leading-tight">
            <span> What Can </span><br />
            <span> Funders Do </span>
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet
            venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac
            mattis posuere lectus nulla ullamcorper pretium ultricies. Quis
            condimentum orci mattis duis. A adipiscing molestie ultrices risus
            elit elit est viverra. Tortor tempus maecenas feugiat libero
            phasellus diam sit. Enim aliquam tellus imperdiet condimentum
            pulvinar volutpat venenatis. Enim nibh quis velit adipiscing massa
            cursus id ante vivamus. <br /> Nisl et diam cras purus et. Maecenas vestibulum
            id adipiscing fermentum. Morbi interdum sit aliquam sit et. Nisl enim
            adipiscing accumsan pulvinar. Tellus id nulla tortor lectus. Laoreet
            cras nec nunc in phasellus tellus ultrices. Fusce id vulputate turpis
            purus tempor donec. Dictum ultrices orci maecenas libero amet. Volutpat
            aliquet purus in fermentum viverra nec habitant cras pellentesque. Morbi
            metus mauris nisi morbi dolor urna malesuada nisi. Molestie mauris sed
            nascetur nisi. Fringilla consequat ac non sit.
          </p>
        </div>
      </section>
      <section class="grid max-w-7xl grid-cols-2">
        <div class="col-start-2 min-h-[700px] rounded-3xl bg-[#CDF1F3]"></div>
        <div class="row-start-1 place-self-center pr-24">
          <h2 class="mb-12 text-[55px] font-bold leading-tight">
            <span> Tackling the </span>
            <br />
            <span> Funding Blindspot </span>
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet
            venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac
            mattis posuere lectus nulla ullamcorper pretium ultricies. Quis
            condimentum orci mattis duis. A adipiscing molestie ultrices risus
            elit elit est viverra. Tortor tempus maecenas feugiat libero
            phasellus diam sit. Enim aliquam tellus imperdiet condimentum
            pulvinar volutpat venenatis. Enim nibh quis velit adipiscing massa
            cursus id ante vivamus. Nisl et diam cras purus et. Maecenas
            vestibulum id adipiscing fermentum. Morbi interdum sit aliquam sit
            et. Nisl enim adipiscing accumsan pulvinar. Tellus id nulla tortor
            lectus. Laoreet cras nec nunc in phasellus tellus ultrices. Fusce id
            vulputate turpis purus tempor donec.
          </p>
        </div>
      </section>
      <section class="grid max-w-7xl grid-cols-2">
        <div class="min-h-[700px] rounded-3xl bg-[#CDF1F3]"></div>
        <div class="place-self-center pl-24">
          <h2 class="mb-12 text-[55px] font-bold leading-tight">
            <span> Opportunities </span><br />
            <span> for Funders </span>
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet
            venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac
            mattis posuere lectus nulla ullamcorper pretium ultricies. Quis
            condimentum orci mattis duis. A adipiscing molestie ultrices risus
            elit elit est viverra. Tortor tempus maecenas feugiat libero
            phasellus diam sit. Enim aliquam tellus imperdiet condimentum
            pulvinar volutpat venenatis. Enim nibh quis velit adipiscing massa
            cursus id ante vivamus. Nisl et diam cras purus et. Maecenas
            vestibulum id adipiscing fermentum. Morbi interdum sit aliquam sit
            et. Nisl enim adipiscing accumsan pulvinar. Tellus id nulla tortor
            lectus. Laoreet cras nec nunc in phasellus tellus ultrices. Fusce id
            vulputate turpis purus tempor donec. Dictum ultrices orci maecenas
            libero amet. Volutpat aliquet purus in fermentum viverra nec
            habitant cras pellentesque. Morbi metus mauris nisi morbi dolor urna
            malesuada nisi. Molestie mauris sed nascetur nisi. Fringilla
            consequat ac non sit.
          </p>
        </div>
      </section>
    </div>
  </div>
</section>
