---
import AnimateText from "../components/AnimateText.astro";

import ActionAgendaImage from "../assets/IMG 24.png";
import { Image } from "astro:assets";
---

<section
  id="action-agenda"
  class="bg-gradient-to-b from-[#0E0449] to-[#11308d] pb-1 text-white"
>
  <div class="relative h-[200svh]">
    <div class="sticky top-0 grid h-svh place-content-center">
      <h2
        class="mb-4 text-center text-6xl font-bold leading-tight tracking-tighter text-[#CDF1F3] md:text-[135px]"
      >
        <AnimateText
          textList={["The Action Agenda"]}
          mobileTextList={["The Action", "Agenda"]}
        />
      </h2>
      <p
        class="text-center text-2xl font-bold uppercase text-[#02B5D1] md:text-3xl"
      >
        <AnimateText textList={["Funder and Practitioner", "Perspectives"]} />
      </p>
    </div>
  </div>
  <div class="mb-16 grid place-content-center text-center md:mb-32">
    <div class="mx-auto mb-12 aspect-square max-h-64 rounded-lg md:h-80">
      <Image
        class="size-full object-contain object-top"
        alt="The Action Agenda"
        src={ActionAgendaImage}
      />
    </div>
    <!-- DEJAR EN 18px -->
    <p class="box-content max-w-[60ch] px-6 text-lg text-white">
      Many exciting ideas are being generated and experiments tested to generate
      more fiscal space for development and climate finance. Here we offer an
      up-to-date sampling of perspectives from researchers, advocates, and
      funders. We will continue to update these.
      <br /><br />
      For more detailed information on the practitioners most active on tax, debt,
      and accountable spending please don’t hesitate to reach out to TAI.
    </p>
  </div>
</section>
