---
import AnimateText from "../components/AnimateText.astro";
import Card from "../components/Card.astro";

const resources = [
  ["#", "The world must reshape global finance at 2025 UN summit"],
  ["#", "Paying Taxes: The Most Democratic Move You Can Make"],
  ["#", "Debt is Dragging Down the Developing World"],
  ["#", "Tax Justice transformational moments of 2024"],
  ["#", "Global Debt Crisis: It is also a development and climate crisis"],
  [
    "#",
    "How to talk about tax to win support and unlock money for action on climate and development",
  ],
  [
    "#",
    "Supreme audit institutions make sure government budgets deliver for the people",
  ],
  ["#", "A Practical Prescription for Taxing Our World’s Richest"],
  [
    "#",
    "Navigating the Governance Gap in Global Development Finance: Lessons from Ghana",
  ],
];
---

<section class="bg-gradient-to-b from-[#0E0449] to-[#1672F6] pb-1 text-white">
  <div class="relative h-[200svh]">
    <div class="sticky top-0 grid h-svh place-content-center">
      <h2
        class="mb-4 text-center text-[135px] font-bold leading-tight tracking-tighter text-[#CDF1F3]"
      >
        <AnimateText textList={["The Action Agenda"]} />
      </h2>
      <p class="text-center text-3xl font-bold uppercase text-[#02B5D1]">
        <AnimateText textList={["Funder and Practitioner", "Perspectives"]} />
      </p>
    </div>
  </div>

  <section class="mx-auto mb-24 max-w-7xl">
    <div class="relative h-[200svh]">
      <div class="sticky top-0 grid h-svh place-content-center text-center">
        <div class="mx-auto mb-14 aspect-square h-80 rounded-lg bg-[#CDF1F333]">
        </div>
        <p class="max-w-[60ch] text-white">
          Many exciting ideas are being generated and experiments tested to
          generate more fiscal space for development and climate finance. Here
          we offer an up-to-date sampling of perspectives from researchers,
          advocates, and funders. We will continue to update these.
          <br /><br />
          For more detailed information on the practitioners most active on tax,
          debt, and accountable spending please don’t hesitate to reach out to TAI.
        </p>
      </div>
    </div>
    <ul class="grid grid-cols-3 gap-8 text-black">
      {
        resources.map(([href, title]) => (
          <Card imageURL={""} title={title} href={href} />
        ))
      }
    </ul>
  </section>
</section>
