---
import AnimateText from "../components/AnimateText.astro";
import Card from "../components/Card.astro";
import KeepUpdated from "../sections/KeepUpdated.astro";

import Resource1Image from "../assets/IMG 42.png";
import Resource2Image from "../assets/IMG 43.png";
import Resource3Image from "../assets/IMG 44.png";
import Resource4Image from "../assets/IMG 45.png";
import Resource5Image from "../assets/IMG 46.png";
import Resource6Image from "../assets/IMG 47.png";
import { Image } from "astro:assets";

const resources: [string, string, ImageMetadata][] = [
  [
    "#",
    "Setting the global agenda for tax, debt and international aid through 2035 - Financing for Development Brief for Philanthropy",
    Resource1Image,
  ],
  [
    "#",
    "Expanding Funding and Commitment to Transparency and Participation in Fiscal Policy",
    Resource2Image,
  ],
  ["#", "Civil Society Engagement in Tax Reform", Resource3Image],
  ["#", "Funding Trends in International Tax Justice", Resource4Image],
  ["#", "Philanthropy’s Tax Blindspot ", Resource5Image],
  [
    "#",
    "Civil Society Engagement in Implementing Domestic Tax Policy",
    Resource6Image,
  ],
];
---

<section id="fiscal-space-resources" class="bg-white px-6">
  <div class="relative h-[200svh]">
    <div class="sticky top-0">
      <h2
        class="grid h-svh place-content-center text-center text-6xl font-bold leading-tight tracking-tighter text-[#1672F7] md:text-[135px]"
      >
        <AnimateText
          textList={["The Fiscal Space", "Resources"]}
          mobileTextList={["The Fiscal", "Space", "Resources"]}
        />
      </h2>
    </div>
  </div>
  <div class="container mx-auto mb-24 flex max-w-7xl flex-col items-center">
    <ul class="grid gap-8 md:grid-cols-3">
      {
        resources.map(([href, title, image]) => (
          <Card title={title} href={href} image={image} />
        ))
      }
    </ul>
  </div>

  <KeepUpdated />
</section>
