---
import AnimateText from "../components/AnimateText.astro";
import WhatFundersCanDoPresentation from "../sections/WhatFundersCanDoPresentation.astro";

---

<section id="what-funders-can-do" class="bg-[#090045] text-white">
  <div class="relative h-[200svh] bg-gradient-to-b from-[#1600AB] to-[#090045]">
    <div class="sticky top-0 grid h-svh place-content-center">
      <h2
        class="text-center text-6xl font-bold leading-tight tracking-tighter md:text-[135px]"
      >
        <AnimateText textList={["What Funders", "Can Do"]} />
      </h2>
    </div>
  </div>

  <WhatFundersCanDoPresentation />
</section>

<script>
  import { animate, inView, stagger } from "motion";

  const cleanupFunctions: VoidFunction[] = [];

  initEventListeners();
  document.addEventListener("astro:after-swap", initEventListeners);
  document.addEventListener("astro:before-preparation", () => {
    cleanupFunctions.forEach((fn) => fn());
    cleanupFunctions.length = 0;
  });

  function initEventListeners() {
    inView(
      "#how-can-tai-help ul",
      () => {
        animate(
          "#how-can-tai-help li",
          { opacity: 1, y: [100, 0] },
          { delay: stagger(0.1), ease: "circInOut" }
        );
      },
      {
        amount: 0.9,
      }
    );
  }
</script>
