---
import HorizontalScrollContainer from "../components/HorizontalScrollContainer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ChallengePresentation from "../sections/ChallengePresentation.astro";

const evidences = [
  ["Tempor pellentesque tincidunt nibh vitae elit volutpat massa", "#"],
  ["Tempor pellentesque tincidunt nibh vitae elit volutpat massa", "#"],
  ["Tempor pellentesque tincidunt nibh vitae elit volutpat massa", "#"],
];
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <header class="grid h-svh place-items-center">
    <h1
      class="text-center text-[135px] font-bold leading-tight tracking-tighter text-[#02B5D1]"
    >
      Challenge
    </h1>
  </header>

  <main>
    
    <ChallengePresentation />

    <section
      class="container mx-auto flex max-w-7xl flex-col items-center py-24"
    >
      <h2
        class="mb-20 max-w-[16ch] text-center text-6xl font-bold tracking-tight text-[#090045]"
      >
        Evidence that fiscal accountability matters
      </h2>
      <ul class="grid grid-cols-3 gap-x-8">
        {
          evidences.map(([title, href]) => (
            <li class="overflow-hidden rounded-2xl shadow-[0px_4px_8.8px_-1px_rgba(0,0,0,0.1)]">
              <a href={href}>
                <div class="aspect-video bg-[#CDF1F3]" />
                <div class="p-9">
                  <p class="mb-9 text-4xl font-medium">{title}</p>
                  <div class="aspect-square h-12 rounded-full bg-black" />
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
