---
import AnimateText from "../components/AnimateText.astro";
import ArrowIcon from "../assets/Arrow.svg?raw";
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
import WhatFundersCanDo from "../metasections/WhatFundersCanDo.astro";
import TheActionAgenda from "../metasections/TheActionAgenda.astro";
import Navbar from "../components/Navbar.astro";
import WelcomeToFiscalSpace from "../metasections/WelcomeToFiscalSpace.astro";
import ChallengePresentation from "../sections/ChallengePresentation.astro";
import TheOpportunity2025 from "../metasections/TheOpportunity2025.astro";
import ContactTAIBanner from "../components/ContactTAIBanner.astro";
import FollowUs from "../sections/FollowUs.astro";
import TheFiscalSpaceResources from "../metasections/TheFiscalSpaceResources.astro";
import NavigationGrid from "../sections/NavigationGrid.astro";
import ScrollReactiveSticky from "../components/ScrollReactiveSticky.astro";
import HowCanTaiHelp from "../sections/HowCanTaiHelp.astro";
---

<Layout title="Welcome">
  <header
    class="sticky top-0 flex min-h-svh flex-col items-center justify-center bg-[#0128A2] leading-tight tracking-tighter text-white"
  >
    <h1 class="mb-7 text-center text-6xl font-bold md:text-[135px] xl:mb-14">
      <AnimateText
        textList={["Welcome to", "The Fiscal Space"]}
        mobileTextList={["Welcome to", "The Fiscal", "Space"]}
      />
    </h1>
    <a
      href="#navigation-grid"
      class="group flex h-fit w-fit items-center gap-x-5 rounded-full bg-[#1672F7] p-1 pl-6 text-center text-white transition-colors hover:bg-[#1663D2]"
    >
      <span> Skip to menu </span>
      <span
        class="rotate-45 text-[#1672F7] transition-transform group-hover:rotate-0 [&>svg]:size-9 [&>svg]:fill-white"
      >
        <Fragment set:html={ArrowIcon} />
      </span>
    </a>
    <a href="#welcome-presentation" class="absolute bottom-1 lg:bottom-8 flex">
      <span class="sr-only">Scroll to the welcome presentation</span>
      <span
        class="rotate-90 text-[#1672F7] transition-transform group-hover:rotate-0 [&_path]:stroke-[0.9px] last:[&_path]:stroke-[white] [&_svg]:size-20"
      >
        <Fragment set:html={ArrowIcon} />
      </span>
    </a>
  </header>

  <main class="relative isolate bg-white">
    <WelcomeToFiscalSpace />
    <div class="relative bg-white">
      <div class="relative">
        <div class="sticky-parent isolate md:sticky md:top-0">
          <ChallengePresentation />
        </div>
        <section id="navigation-grid" class="relative h-[200svh] bg-white">
          <NavigationGrid className="sticky top-0" />
        </section>
      </div>
      <Navbar />

      <div id="opportunity-in-2025" class="relative isolate">
        <ScrollReactiveSticky
          className="-z-20 pb-16 before:absolute before:inset-0"
        >
          <TheOpportunity2025 />
        </ScrollReactiveSticky>
        <div class="relative -z-50 h-svh"></div>

        <div id="action-agenda" class="relative isolate bg-[#1672F6]">
          <ScrollReactiveSticky className="-z-20 pb-16">
            <TheActionAgenda />
            <ContactTAIBanner />
          </ScrollReactiveSticky>
          <div class="relative -z-50 h-svh"></div>

          <WhatFundersCanDo />
        </div>
      </div>

      <div class="relative isolate bg-[#090045]">
        <ScrollReactiveSticky className="-z-20 pb-16 text-white md:pb-40">
          <HowCanTaiHelp />
          <FollowUs />
        </ScrollReactiveSticky>
        <div class="relative -z-50 h-svh"></div>
        <TheFiscalSpaceResources />
      </div>
    </div>
  </main>
  <div class="relative bg-white pt-24">
    <Footer />
  </div>
</Layout>
