---
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
import WhatFundersCanDo from "../metasections/WhatFundersCanDo.astro";
import TheActionAgenda from "../metasections/TheActionAgenda.astro";
import Navbar from "../components/Navbar.astro";
import WelcomeToFiscalSpace from "../metasections/WelcomeToFiscalSpace.astro";
import ChallengePresentation from "../sections/ChallengePresentation.astro";
import TheOpportunity2025 from "../metasections/TheOpportunity2025.astro";
import ContactTAIBanner from "../components/ContactTAIBanner.astro";
import FollowUs from "../sections/FollowUs.astro";
import TheFiscalSpaceResources from "../metasections/TheFiscalSpaceResources.astro";
import NavigationGrid from "../sections/NavigationGrid.astro";
import ScrollReactiveSticky from "../components/ScrollReactiveSticky.astro";
import HowCanTaiHelp from "../sections/HowCanTaiHelp.astro";
---

<Layout title="Welcome">
  <header>
    <h1 class="sr-only">Fund Fiscal Space</h1>
  </header>

  <main class="relative isolate">
    <WelcomeToFiscalSpace />
    <div class="relative bg-white">
      <div class="relative">
        <div class="sticky-parent isolate md:sticky md:top-0">
          <ChallengePresentation />
        </div>
        <section id="navigation-grid" class="relative h-[200svh] bg-white">
          <NavigationGrid className="sticky top-0" />
        </section>
      </div>
      <Navbar />
      
      <div id="opportunity-in-2025" class="relative isolate">
        <ScrollReactiveSticky
          className="-z-20 pb-16 before:absolute before:inset-0"
        >
          <TheOpportunity2025 />
        </ScrollReactiveSticky>
        <div class="relative -z-50 h-svh"></div>

        <div id="action-agenda" class="relative isolate bg-[#1672F6]">
          <ScrollReactiveSticky className="-z-20 pb-16">
            <TheActionAgenda />
            <ContactTAIBanner />
          </ScrollReactiveSticky>
          <div class="relative -z-50 h-svh"></div>

          <WhatFundersCanDo />
        </div>
      </div>

      <div class="relative isolate bg-[#090045]">
        <ScrollReactiveSticky className="-z-20 pb-16 text-white md:pb-40">
          <HowCanTaiHelp />
          <FollowUs />
        </ScrollReactiveSticky>
        <div class="relative -z-50 h-svh"></div>
        <TheFiscalSpaceResources />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
