---
import Layout from "../layouts/Layout.astro";
import WelcomePresentation from "../sections/WelcomePresentation.astro";
---



<Layout title="Welcome to Astro.">
  <main>
    <WelcomePresentation/>
  </main>
</Layout>
