---
import AnimateText from "../components/AnimateText.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
import WelcomePresentation from "../sections/WelcomePresentation.astro";
import UrgentOportunities from "../metasections/UrgentOportunities.astro";
import WhatIsTheFiscalSpace from "../metasections/WhatIsTheFiscalSpace.astro";
import CreatingSustainableFiscalSpace from "../metasections/CreatingSustainableFiscalSpace.astro";
import Navbar from "../components/Navbar.astro";
import ArrowIcon from "../assets/arrow.svg?raw";
---

<Layout title="Welcome">
  <header>
    <h1 class="sr-only">Fund Fiscal Space</h1>
  </header>

  <main>
    <div class="relative">
      <div class="sticky top-0 -z-[10]">
        <WelcomePresentation />
      </div>
      <section class="bg-[#0128A2] py-40">
        <div
          class="mb- mb-36 flex flex-col items-center justify-center leading-tight tracking-tighter"
        >
          <h2 class="text-center text-[135px] font-bold text-[#02B5D1]">
            <AnimateText textList={["Welcome to", "The Fiscal Space:"]} />
          </h2>
          <p class="max-w-[35ch] text-center text-4xl text-white">
            for funders to explore why fiscal issues matter and how to offer
            impactful support.
          </p>
        </div>

        <div class="container mx-auto grid max-w-7xl grid-cols-2 gap-8">
          {
            ["", "", "", ""].map(() => {
              return <div class="aspect-video rounded-3xl bg-white/20" />;
            })
          }
        </div>
      </section>
    </div>
    <div class="relative">
      <Navbar />
      <UrgentOportunities />
      <CreatingSustainableFiscalSpace />
      <WhatIsTheFiscalSpace />
    </div>

    <dialog id="contact-tai" class="isolate bg-transparent">
      <div onclick="document.getElementById('contact-tai').close()"
       class="overlay fixed -z-10 inset-0 bg-[#090045] bg-opacity-60 backdrop-blur"></div>
      
       <form action="post" class="grid w-svw max-w-[448px]" >
        <h3 class="text-white font-extrabold text-3xl mb-8">Contact TAI</h3>
        <div class="grid text-start text-[#374151] bg-white w-full py-8 px-10 rounded-lg [&_label]:after:content-['*'] [&_label]:text-sm [&_label]:mb-1 [&_input]:border [&_input]:border-[#D1D5DB] [&_input]:rounded-md [&_input]:p-2 [&_input]:mb-6">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
          <label for="organization">Organization</label>
          <input type="text" id="organization" name="organization" required />
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
          <label for="description">Description</label>
          <textarea class="border border-[#D1D5DB] rounded-md p-2 mb-6" id="message" name="message" required></textarea>
          <button class="bg-[#090045] justify-self-center w-fit gap-x-5 text-white items-center flex rounded-full p-1 pl-6"> 
            <span> Send </span>
            <span class="text-[#090045] [&>svg]:fill-white [&>svg]:size-9">
              <Fragment set:html={ArrowIcon} />
            </span>
          </button>
        </div>
      </form>
    </dialog>
  </main>
  <Footer />
</Layout>
