---
import Navbar from "../components/Navbar.astro";
import ScrollTriggerLink from "../components/ScrollTriggerLink.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <div class="bg-gradient-to-b from-[#0128A2] to-[#02B5D1]">
    <Navbar />
    <header class="flex h-svh flex-col items-center justify-center">
      <h1
        class="text-center text-[135px] font-bold leading-tight tracking-tighter text-[#02B5D1]"
      >
        <span> Urgent </span><br /><span> Oportunities </span>
      </h1>
    </header>
    <main class="pb-40 text-white">
      <section class="container mx-auto grid max-w-7xl grid-cols-2 gap-x-14">
        <div class="h-full row-span-2 w-full rounded-3xl bg-white/20"></div>
        <h2 class="pt-14 pb-12 max-w-[5ch] text-6xl font-bold leading-tight">Today’s opportunity</h2>
        <p class="pb-14 text-lg">
          Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet
          venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis
          posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum
          orci mattis duis. A adipiscing molestie ultrices risus elit elit est
          viverra. Tortor tempus maecenas feugiat libero phasellus diam sit.
          Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.
          Enim nibh quis velit adipiscing massa cursus id ante vivamus. Purus
          sit a sem maecenas volutpat vestibulum fermentum. Proin ultrices non
          odio aliquet vitae at. Dignissim vitae nunc tincidunt elit enim. Donec
          fermentum vitae vitae id accumsan faucibus eget nulla. Sit eget risus
          ut eu condimentum mattis aliquam aliquet. <br /> Nisl et diam cras purus
          et. Maecenas vestibulum id adipiscing fermentum. Morbi interdum sit aliquam
          sit et. Nisl enim adipiscing accumsan pulvinar. Tellus id nulla tortor
          lectus. Laoreet cras nec nunc in phasellus tellus ultrices. Fusce id vulputate
          turpis purus tempor donec. Dictum ultrices orci maecenas libero amet. Volutpat
          aliquet purus in fermentum viverra nec habitant cras pellentesque. Morbi
          metus mauris nisi morbi dolor urna malesuada nisi. Molestie mauris sed
          nascetur nisi. Fringilla consequat ac non sit.
        </p>
      </section>
    </main>
  </div>
  <ScrollTriggerLink href="/challenge">
    <aside class="h-svh grid place-items-center">
      <h2 class="text-center text-[135px] font-bold leading-tight tracking-tighter text-[#02B5D1]">Challenge </h2>
    </aside>
  </ScrollTriggerLink>
  <Footer className="hidden" />
</Layout>
