---
import ArrowIcon from "../assets/Arrow.svg?raw";
interface Props {
  imageURL: string;
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<li
  class="overflow-hidden rounded-2xl shadow-[0px_4px_8.8px_-1px_rgba(0,0,0,0.1)]"
>
  <a href={href}>
    <div class="aspect-video bg-[#CDF1F3]"></div>
    <div class="p-9">
      <p class="mb-9 text-4xl font-medium">{title}</p>
      <div
        class="flex aspect-square h-12 rounded-full text-white *:size-full [&_svg]:fill-black"
      >
        <Fragment set:html={ArrowIcon} />
      </div>
    </div>
  </a>
</li>
