---
import ArrowIcon from "../assets/Arrow.svg?raw";
import AnimateText from "./AnimateText.astro";
---

<section
  class="grid max-w-7xl justify-items-center gap-11 rounded-3xl bg-[#090045] py-16 text-center md:mx-auto md:py-24"
>
  <h3 class="text-4xl font-bold text-white md:text-8xl">
    <AnimateText textList={["Lorem ipsum", "dolor sit amet"]} />
  </h3>

  <button
    onclick="document.getElementById('contact-tai').showModal()"
    class="flex items-center gap-x-5 rounded-full bg-[#1672F7] p-1 pl-6 text-white"
  >
    <span> Contact TAI </span>
    <span class="text-[#1672F7] [&>svg]:size-9 [&>svg]:fill-white">
      <Fragment set:html={ArrowIcon} />
    </span>
  </button>
</section>
