---
import { Image } from "astro:assets";
import LogoIcon from "../assets/logo.svg?raw";

interface Props {
  className?: string;
}

const { className } = Astro.props as Props;

---

<div id="navbar" class="fixed top-0 w-full z-50">
  <nav
    class={`mx-auto flex max-w-7xl justify-between py-1 ${className}`}
  >
    <a href="/">
      <!-- <Image src={LogoIcon} alt="Logo" /> -->
      <Fragment set:html={LogoIcon} />
    </a>

    <ul class="ml-auto flex w-1/2 shrink-0 items-center justify-evenly">
      <li>
        <a href="/urgent-oportunities">Urgent Oportunities</a>
      </li>
      <li>
        <a href="/challenge">Challenge</a>
      </li>
      <li>
        <a href="/">Creating</a>
      </li>
    </ul>
  </nav>
</div>
