---
import MenuLogo from "../assets/menu.svg?raw";

interface Props {
  className?: string;
}

const { className } = Astro.props as Props;
---

<a
  id="menu-button"
  href="#navigation-grid"
  class="group sticky top-4 z-[100] ml-[calc(max((100svw-1280px)/2,_0px)+min(100svw,1280px)-64px-32px)] block aspect-square size-16 rounded-full bg-[#1672F7] p-4 transition-colors [&_svg]:size-full"
>
  <span>
    <Fragment set:html={MenuLogo} />
  </span>
</a>

<script>
  const menuButton = document.getElementById("menu-button");
  if (menuButton) {
    menuButton.addEventListener("click", async () => {
      const html = document.documentElement;
      html.style.scrollBehavior = "auto";

      await new Promise((resolve) => setTimeout(resolve, 100));
      html.style.scrollBehavior = "smooth";
    });
  }
</script>
