---
import Card from "../components/Card.astro";

import Resource1Image from "../assets/IMG 25.png";
import Resource2Image from "../assets/IMG 26.png";
import Resource3Image from "../assets/IMG 10.png";
import Resource4Image from "../assets/IMG 28.png";
import Resource5Image from "../assets/IMG 29.png";
import Resource6Image from "../assets/IMG 30.png";
import Resource7Image from "../assets/IMG 31.png";
import Resource8Image from "../assets/IMG 32.png";
import Resource9Image from "../assets/IMG 33.png";

const resources: [string, string, ImageMetadata][] = [
  [
    "#",
    "The world must reshape global finance at 2025 UN summit",
    Resource1Image,
  ],
  ["#", "Paying Taxes: The Most Democratic Move You Can Make", Resource2Image],
  ["#", "Debt is Dragging Down the Developing World", Resource3Image],
  ["#", "Tax Justice transformational moments of 2024", Resource4Image],
  [
    "#",
    "Global Debt Crisis: It is also a development and climate crisis",
    Resource5Image,
  ],
  [
    "#",
    "How to talk about tax to win support and unlock money for action on climate and development",
    Resource6Image,
  ],
  [
    "#",
    "Supreme audit institutions make sure government budgets deliver for the people",
    Resource7Image,
  ],
  [
    "#",
    "A Practical Prescription for Taxing Our World’s Richest",
    Resource8Image,
  ],
  [
    "#",
    "Navigating the Governance Gap in Global Development Finance: Lessons from Ghana",
    Resource9Image,
  ],
];
---

<section class="mx-auto mb-16 max-w-7xl px-6 md:mb-24">
  <ul class="grid gap-8 text-black md:grid-cols-3">
    {
      resources.map(([href, title, image]) => (
        <Card image={image} title={title} href={href} />
      ))
    }
  </ul>
</section>
