---
import Card from "../components/Card.astro";
import getActionAgendaResources from "../pages/api/getActionAgendaResources";

const resources = await getActionAgendaResources();
---

<section class="mx-auto mb-16 max-w-7xl px-6 md:mb-24">
  <ul class="grid gap-8 text-black md:grid-cols-3">
    {
      resources?.map(({ image, title, link }) => (
        <Card imageUrl={image?.filename} title={title} href={link} />
      ))
    }
  </ul>
</section>
