---
import HorizontalScrollContainer from "../components/HorizontalScrollContainer.astro";

const content = [
  [
    "Limited funding",
    "limited funding for helping countries create fiscal space that is equitable and accountable compared to funding for other issues, but that an increase would make a big difference to advancing all those other societal goals",
  ],
  [
    "Typical grants/budgets",
    "Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum orci mattis duis. A adipiscing molestie ultrices risus elit elit est viverra. Tortor tempus maecenas feugiat libero phasellus diam sit. Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.",
  ],
  [
    "Links to data",
    "Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum orci mattis duis. A adipiscing molestie ultrices risus elit elit est viverra. Tortor tempus maecenas feugiat libero phasellus diam sit. Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.",
  ],
  [
    "tai tax minisite",
    "Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum orci mattis duis. A adipiscing molestie ultrices risus elit elit est viverra. Tortor tempus maecenas feugiat libero phasellus diam sit. Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.",
  ],
];
---

<section>
  <HorizontalScrollContainer className="pl-[max(1rem,(100vw_-_1280px)_/_2)]">
    <svg
      class="rope absolute left-0"
      width="2577"
      height="390"
      viewBox="0 0 2577 333"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 1C332.5 1 474 315.5 838 331C1202 346.5 1440 1 1746.5 1C2053 1 2239 331 2577 331"
        stroke="#1672F7"
        stroke-width="2"></path>
    </svg>

    <h2
      class="sticky left-0 text-nowrap text-6xl font-bold tracking-tight text-[#090045]"
    >
      The challenge
    </h2>
    <ul class="challenge-content flex">
      {
        content.map(([title, p]) => (
          <li class="z-10 mr-[25vw] box-content flex min-h-svh min-w-[574px] flex-col justify-center gap-12 last:mr-0 last:pr-[max(1rem,(100vw_-_1280px)_/_2)] odd:flex-col-reverse [&:nth-last-child(2)]:-z-10">
            <div>
              <h3 class="mb-6 text-3xl font-bold uppercase tracking-tight text-[#1672F7]">
                {title}
              </h3>
              <p class="text-lg">{p}</p>
            </div>
            <div class="aspect-square w-64 rounded-3xl bg-[#CDF1F3]" />
          </li>
        ))
      }
    </ul>
  </HorizontalScrollContainer>
</section>

<script>
  import { animate, scroll } from "motion";

  const cleanupFunctions: VoidFunction[] = [];

  initEventListeners();
  document.addEventListener("astro:after-swap", initEventListeners);
  document.addEventListener("astro:before-preparation", () => {
    cleanupFunctions.forEach((fn) => fn());
    cleanupFunctions.length = 0;
  });

  function initEventListeners() {
    const rope = document.querySelector(".rope") as SVGSVGElement | null;
    const ropePath = rope?.querySelector("path") as SVGPathElement | null;

    if (!rope || !ropePath) return;
    const container = document.querySelector(
      ".horizontal-scroll-container"
    ) as HTMLUListElement;

    const scrollCallback = scroll(
      animate(
        ropePath,
        {
          pathLength: [0, 1],
        },
        {
          ease: "easeInOut",
        }
      ),
      { target: container, offset: [0, 0.9] }
    );

    cleanupFunctions.push(scrollCallback);

    calculateRopeWidth();
    window.addEventListener("resize", calculateRopeWidth);

    function calculateRopeWidth() {
      if (!rope || !ropePath) return;

      const from = document.querySelector(
        ".challenge-content > li:nth-child(1) .aspect-square"
      ) as HTMLLIElement;
      const to = document.querySelector(
        ".challenge-content > li:nth-last-child(1) .aspect-square"
      ) as HTMLLIElement;

      const ropeTop =
        from.offsetTop - from.parentElement!.offsetTop + from.offsetHeight / 4;
      const ropeLeft = from.offsetLeft + from.getBoundingClientRect().width / 2;
      const ropeWidth =
        to.offsetLeft - ropeLeft + to.getBoundingClientRect().width / 2;
      const ropeHeight = (ropeWidth * 390) / 2577;

      rope.style.top = ropeTop + "px";
      rope.style.left = ropeLeft + "px";
      rope.style.width = ropeWidth + "px";
      rope.style.height = ropeHeight + "px";
    }
  }
</script>
