---
import AnimateText from "../components/AnimateText.astro";
import ArrowIcon from "../assets/Arrow.svg?raw";
import Resource1Image from "../assets/IMG 38.png";
import Resource2Image from "../assets/IMG 39.png";
import Resource3Image from "../assets/IMG 40.png";
import Resource4Image from "../assets/IMG 41.png";
import { Image } from "astro:assets";

const howCanTaiHelp: [string, ImageMetadata][] = [
  [
    "Advise on potential investments building on recently completed field mappings for the tax, deb, and budget fields",
    Resource1Image,
  ],
  [
    "Connect you with peer funders who have shared interests and experience of funding on these issues",
    Resource2Image,
  ],
  [
    "Invite you to relevant funder spaces to learn more, including about the ongoing FfD process",
    Resource3Image,
  ],
  [
    "Share our regular digests of relevant news, research and events.",
    Resource4Image,
  ],
];
---

<section
  id="how-can-tai-help"
  class="mb-24 mt-36 flex flex-col items-center justify-center px-7 text-center md:mb-36"
>
  <h3 class="mb-8 text-5xl font-semibold md:text-6xl">
    <AnimateText textList={["How can TAI help?"]} />
  </h3>
  <p class="mx-auto max-w-[63ch] text-lg">
    The Trust, Accountability and Inclusion Collaborative is here to offer pro
    bono support to funders interested in helping address today’s pressing
    fiscal challenges.
  </p>

  <a
    target="_blank"
    href="https://taicollaborative.org/"
    class="group mx-auto mt-10 flex w-fit items-center gap-x-5 rounded-full bg-[#1672F7] p-1 pl-6 text-base text-white transition-colors hover:bg-[#1663D2]"
  >
    <span> More details </span>
    <span
      class="rotate-45 text-[#1672F7] transition-transform group-hover:rotate-0 [&>svg]:size-9 [&>svg]:fill-white"
    >
      <Fragment set:html={ArrowIcon} />
    </span>
  </a>

  <h4
    class="text mt-24 text-center text-3xl font-bold uppercase text-[#1672F7]"
  >
    For example, we can:
  </h4>

  <ul class="mt-28 flex flex-col gap-16 md:mt-16 md:flex-row">
    {
      howCanTaiHelp.map(([text, image]) => (
        <li class="flex flex-1 flex-col items-center gap-6 md:opacity-0">
          <div class="aspect-square w-40 rounded-full">
            <Image src={image} alt="" class="size-full object-cover" />
          </div>
          <p class="max-w-[20ch] text-center text-2xl md:text-base 3xl:text-lg">
            {text}
          </p>
        </li>
      ))
    }
  </ul>
</section>
