---
import AnimateText from "../components/AnimateText.astro";
import HorizontalScrollContainer from "../components/HorizontalScrollContainer.astro";

const content = [
  [
    "Advise on funding priorities",
    "Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum orci mattis duis. A adipiscing molestie ultrices risus elit elit est viverra. Tortor tempus maecenas feugiat libero phasellus diam sit. Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.",
  ],
  [
    "Connect to existing funders",
    "Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum orci mattis duis. A adipiscing molestie ultrices risus elit elit est viverra. Tortor tempus maecenas feugiat libero phasellus diam sit. Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.",
  ],
  [
    "field mappings and evidence",
    "Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum orci mattis duis. A adipiscing molestie ultrices risus elit elit est viverra. Tortor tempus maecenas feugiat libero phasellus diam sit. Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.",
  ],
  [
    "monthly digests of news",
    "Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum orci mattis duis. A adipiscing molestie ultrices risus elit elit est viverra. Tortor tempus maecenas feugiat libero phasellus diam sit. Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.",
  ],
];
---

<section class="relative">
  <HorizontalScrollContainer
    className="flex h-svh items-center pl-[max(1rem,(100vw_-_1280px)_/_2)]"
  >
    <div class="flex h-full max-h-[770px] flex-col justify-between">
      <h3
        class="sticky left-0 w-fit text-nowrap text-6xl font-bold tracking-tight text-white"
      >
        <AnimateText textList={["How TAI Can Help"]} />
      </h3>
      <ul
        class="flex gap-14 after:pr-[max(1rem,(100vw_-_1280px)_/_2)]"
      >
        {
          content.map(([title, p]) => (
            <li class="z-10 box-border flex h-[660px] min-w-[800px] flex-col rounded-3xl bg-white px-24 py-20 text-black">
              <div class="mb-12 aspect-square w-64 rounded-3xl bg-[#CDF1F3]" />
              <h3 class="mb-6 text-3xl font-bold uppercase tracking-tight text-[#1672F7]">
                {title}
              </h3>
              <p class="text-lg">{p}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </HorizontalScrollContainer>
</section>
