---
import ArrowIcon from "../assets/Arrow.svg?raw";
import AnimateText from "../components/AnimateText.astro";
---

<section
  class="mx-auto flex aspect-[1430/634] max-w-7xl flex-col items-center justify-center rounded-3xl bg-[#1672F7] px-5 py-11 text-white"
>
  <h3
    class="mb-8 text-center text-6xl font-bold leading-tight -tracking-[1%] md:text-8xl"
  >
    <AnimateText
      textList={["Keep updated", "with TAI WEEKLY"]}
      mobileTextList={["Keep updated", "with TAI", "WEEKLY"]}
    />
  </h3>

  <p class="mb-14 max-w-[40ch] text-center">
    Everything you need to know about accountability, inclusive participation
    and trust, delivered to your inbox every Tuesday.
  </p>

  <a
    target="_blank"
    href="https://transparency-initiative.us8.list-manage.com/subscribe?u=3225c2c32fc6c7023ca721588&id=1a5ff28f1e"
    class="group flex items-center gap-x-5 rounded-full bg-[#090045] p-1 pl-6 text-white"
  >
    <span> Subscribe Here </span>
    <span
      class="rotate-45 text-[#090045] transition-transform group-hover:rotate-0 [&>svg]:size-9 [&>svg]:fill-white"
    >
      <Fragment set:html={ArrowIcon} />
    </span>
  </a>
</section>
