---
import ArrowIcon from "../assets/Arrow.svg?raw";
---

<section id="navigation-grid" class="relative md:h-[200svh]">
  <div
    class="mx-auto grid md:h-svh max-w-7xl gap-8 px-6 py-24 [grid-auto-rows:_1fr] md:sticky md:top-0 md:grid-cols-2"
  >
    {
      [
        ["#", "The Opportunity in 2025"],
        ["#", "The Action Agenda"],
        ["#", "What Funders Can Do"],
        ["#", "The Fiscal Space Resources"],
      ].map(([href, title]) => (
        <a
          href={href}
          class="group relative isolate grid grid-cols-[1fr_auto] items-end gap-4 text-black opacity-0 md:px-14 md:py-10"
        >
          <div class="col-span-2 aspect-video rounded-3xl bg-[#CDF1F3] md:absolute md:inset-0 md:-z-10 md:col-auto md:aspect-auto" />

          <span class="block max-w-[14ch] text-pretty text-3xl font-bold md:text-5xl">
            {title}
          </span>
          <div class="aspect-square h-12 rotate-45 rounded-full text-white transition-transform *:size-full group-hover:rotate-0 first:[&_path]:stroke-black [&_svg]:fill-black">
            <Fragment set:html={ArrowIcon} />
          </div>
        </a>
      ))
    }
  </div>
</section>

<script>
  import { animate, inView, stagger } from "motion";

  const cleanupFunctions: VoidFunction[] = [];

  initEventListeners();
  document.addEventListener("astro:after-swap", initEventListeners);
  document.addEventListener("astro:before-preparation", () => {
    cleanupFunctions.forEach((fn) => fn());
    cleanupFunctions.length = 0;
  });

  function initEventListeners() {
    const navigationGrid = document.querySelector(
      "#navigation-grid"
    ) as HTMLElement;

    inView(
      navigationGrid,
      () => {
        animate(
          navigationGrid.querySelectorAll("a"),
          { opacity: 1, y: [100, 0] },
          { delay: stagger(0.1), ease: "circInOut" }
        );
      },
      {
        amount: 0.4,
      }
    );
  }
</script>
