---
import HorizontalScrollContainer from "../components/HorizontalScrollContainer.astro";
import { Image } from "astro:assets";

import FiscalSpace from "../assets/fiscal-space.png"
import CountriesStruggling from "../assets/countries-struggling.svg"
import ManagementHelp from "../assets/management-help.svg"
import WhatCanWeDoToday from "../assets/what-can-we-do.svg"
---

<section>
  <h2 class="sr-only">Welcome to The Fiscal Space</h2>
  <HorizontalScrollContainer className="flex w-svw font-bold text-[4.92vh] leading-tight -tracking-[1%] [&_.item]:min-w-fit [&_.item]:min-h-svh [&_.item]:px-[12.68vw] [&_.item]:grid [&_.item]:grid-cols-2 [&_.item]:items-center [&_.item]:before:absolute [&_.item]:before:-z-50 [&_.item]:before:h-[0.1vh] [&_.item]:before:w-full [&_.item]:before:bg-[#1672F7] [&_.item]:before:bottom-[calc(100%_/_6)]">
    {
      <div class="item">
      <h3 class="max-w-[15ch]">If you care about health, education, climate or another development challenge, then you need to care about fiscal space.</h3>
      <Image class="h-2/3 translate-y-[4%] object-contain object-right" alt="Care about fiscal space" src={FiscalSpace}/>
    
    </div>
    <div class="item">
      <h3 class="max-w-[15ch]">Countries are struggling to find and manage the funds to support climate and development investments</h3>
      <Image class="h-2/3 translate-y-[4%] object-contain object-left" alt="Countries struggling" src={CountriesStruggling}/>
    
    </div>
    <div class="item">
      <h3>This makes it all the more important to help them manage debt, resource mobilization and spending effectively, fairly and accountably</h3>
      <Image class="h-2/3 -translate-y-[0.9px]" alt="Countries struggling" src={ManagementHelp}/>
    
    </div>
    <div class="item before:-translate-x-[12.68vw]">
      <div>
        <h3 class="text-[8vh] leading-tight mb-6 max-w-[15ch] text-pretty">
          What can we do today?
        </h3>
        <p class="text-[2.3vh] leading-normal font-normal max-w-[45ch] ">Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. </p>
      </div>
      <Image class="h-2/3 -translate-y-3" alt="Countries struggling" src={WhatCanWeDoToday}/>
    
    </div>
  }
</HorizontalScrollContainer>
</section>