---
import AnimateText from "../components/AnimateText.astro";
import HorizontalScrollContainer from "../components/HorizontalScrollContainer.astro";

const content = [
  [
    "Support stakeholder participation",
    "in fiscal processes at local, national, regional, and global levels. TAI’s funding scan found that civil society can do impactful work, but needs support to be in the rooms where decisions are taken, as do Global South governments, universities, think tanks, and unions.",
  ],
  [
    "Invest in evidence and data",
    "to inform stakeholders and the design of potential policy reforms, such as on the progressivity of taxes and tax incentives and considerations for new types of taxes like wealth taxes and digital economy-related taxes.",
  ],
  [
    "Provide long-term support",
    "recognizing that securing fiscal equity and sustainability will take time. With longer-term grants, organizations will have the space to hire staff rather than consultants, be ready for emerging opportunities, work closely with communities and media, and more. In addition, funds for field building could lead to better coordination and bridging efforts across tax, debt, and budget accountability communities.",
  ],
  [
    "Use your voice and convening power",
    "to draw attention to the importance of these issues and encourage other funders to engage, noting how fiscal challenges risk undermining the impact of existing investments. Philanthropies can also use their voice to stand against corruption in spending, for public participation in policy-making and monitoring, and for the transparency of fiscal data.",
  ],
];
---

<section id="what-funders-can-do-presentation">
  <HorizontalScrollContainer
    className="flex items-center px-6 md:h-svh md:pl-[max(1rem,(100vw_-_1280px)_/_2)]"
  >
    <div
      class="relative flex w-full flex-col justify-between md:h-full md:max-h-[720px] md:w-auto"
    >
      <h3
        class="mb-20 w-fit text-nowrap pt-8 text-center text-3xl font-bold tracking-tight text-white md:sticky md:left-0 md:mb-0 md:pt-0 md:text-left md:text-6xl"
      >
        <AnimateText
          textList={[
            "There are many things that funders can do that",
            "will have a swift positive impact, including:",
          ]}
          mobileTextList={[
            "There are many things that",
            "funders can do that will",
            "have a swift positive",
            "impact, including:",
          ]}
        />
      </h3>

      <div class="swiper w-full overflow-hidden md:flex">
        <ul
          class="swiper-wrapper after:pr-[max(1rem,(100vw_-_1280px)_/_2)] md:flex md:h-fit md:max-h-[770px] md:flex-row md:gap-14"
        >
          {
            content.map(([title, p]) => (
              <li class="swiper-slide z-10 box-border !grid w-full flex-shrink-0 !grid-rows-[164px_1fr] gap-9 rounded-3xl bg-white text-black md:min-w-[680px] md:!flex-shrink md:grid-rows-[4fr_5fr]">
                <div class="h-full w-full rounded-t-3xl bg-[#CDF1F3]" />
                <div class="px-6 pb-9 md:px-16 md:pb-7">
                  <h3 class="mb-6 text-2xl font-bold uppercase tracking-tight text-[#1672F7] md:text-3xl">
                    {title}
                  </h3>
                  <p class="text-lg">{p}</p>
                </div>
              </li>
            ))
          }
        </ul>

        <div
          class="swiper-pagination !static mt-4 *:!size-3 *:!opacity-100 *:outline *:outline-2 *:outline-[#02B5D1] [&>.swiper-pagination-bullet-active]:!bg-[#02B5D1] [&>.swiper-pagination-bullet]:bg-transparent"
        >
        </div>
      </div>
    </div>
  </HorizontalScrollContainer>
</section>

<script>
  import Swiper from "swiper";
  import { Pagination } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/pagination";

  let swiper: null | Swiper = null;

  updateSwiper();
  window.addEventListener("resize", () => {
    updateSwiper();
  });

  function updateSwiper() {
    if (window.innerWidth < 768) {
      initSwiper();
    } else {
      destroySwiper();
    }
  }

  function destroySwiper() {
    if (!swiper) return;
    swiper.destroy();
    swiper = null;
  }

  function initSwiper() {
    if (swiper) return;
    swiper = new Swiper("#what-funders-can-do-presentation .swiper", {
      // configure Swiper to use modules
      modules: [Pagination],
      direction: "horizontal",
      loop: true,
      spaceBetween: 60,
      noSwiping: false,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },

      breakpoints: {
        768: {
          noSwiping: true,
        },
      },
    });
  }
</script>
