---
import HorizontalScrollContainer from "../components/HorizontalScrollContainer.astro";

const content = [
  [
    "How do we make fiscal policy more inclusive?",
    "Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum orci mattis duis. A adipiscing molestie ultrices risus elit elit est viverra. Tortor tempus maecenas feugiat libero phasellus diam sit. Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.",
  ],
  [
    "Why does it matter?",
    "Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum orci mattis duis. A adipiscing molestie ultrices risus elit elit est viverra. Tortor tempus maecenas feugiat libero phasellus diam sit. Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.",
  ],
  [
    "What has the Fiscal Space achieved so far?",
    "Lorem ipsum dolor sit amet consectetur. Vel id integer imperdiet venenatis viverra rhoncus nulla. Sed orci neque ornare sed. Ac mattis posuere lectus nulla ullamcorper pretium ultricies. Quis condimentum orci mattis duis. A adipiscing molestie ultrices risus elit elit est viverra. Tortor tempus maecenas feugiat libero phasellus diam sit. Enim aliquam tellus imperdiet condimentum pulvinar volutpat venenatis.",
  ],
];
---

<section class="bg-[#1672F6] mb-40">
  <HorizontalScrollContainer className="pl-[max(1rem,(100vw_-_1280px)_/_2)]">
    <!-- <h2
      class="sticky left-0 text-nowrap text-6xl font-bold tracking-tight text-white"
    >
      How TAI Can Help
    </h2> -->
    <ul
      class="challenge-content flex h-dvh items-center after:min-w-[max(1rem,(100vw_-_1280px)_/_2)] after:h-1 "
    >
      {
        content.map(([title, p]) => (
          <li class="z-10 mr-14 box-content flex min-h-fit min-w-[750px] flex-col rounded-3xl bg-white px-24 py-[82px] text-black">
            <div class="mb-12 aspect-square w-64 rounded-3xl bg-[#CDF1F3]" />
            <h3 class="mb-6 text-3xl font-bold uppercase tracking-tight text-[#1672F7]">
              {title}
            </h3>
            <p class="text-lg">{p}</p>
          </li>
        ))
      }
    </ul>
  </HorizontalScrollContainer>
</section>

